@(id: Long, companyForm: Form[Company])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Edit Company") {
    
    <h1>Edit Company</h1>
    
    @form(routes.Companies.update(id)) {
        
        <fieldset>
        	@inputHidden(companyForm("id"))
            @inputText(companyForm("name"), '_label -> "Company name")
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this company" class="btn primary"> or 
            <a href="@routes.Companies.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Companies.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this Company" class="btn danger">
    }
    
}
