@($m$s:List[$MM$], $m$Form: Form[$MM$])

@import helper._

@main("$MM$ List") {

<h1>@$m$s.size $m$(s)</h1>
<table class="zebra-striped">
    <thead>
    <tr>
        $heads$
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @$m$s.map { v =>
    <tr>
        $rows$
        <td>@form(routes.$MM$s.delete(v.id.get)){
            <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
    </tbody>
</table>

<h2>Add a new $MM$</h2>
<a class="btn success" id="add" href="@routes.$MM$s.create()">Add a new $m$</a>
}
