@(choiceForm: Form[Choice])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("create") {

<h1>Add a choice</h1>

@form(routes.Choices.save(),('class,"form-horizontal")) {

<fieldset>
               @select(
                    choiceForm("node"), 
                    Node.options, 
                    '_label -> "Node", '_default -> "-- Choose a Node --",
                    '_showConstraints -> false
                )
              
    	           @select(
                    choiceForm("question"), 
                    Question.options, 
                    '_label -> "Question", '_default -> "-- Choose a Question --",
                    '_showConstraints -> false
                )
              
    	@checkbox(choiceForm("correct"), '_label -> "choice correct")
</fieldset>

<div class="actions">
    <input type="submit" value="Create this choice" class="btn btn-primary"> or
    <a href="@routes.Choices.list()" class="btn">Cancel</a>
</div>

}

}
    