<script type="text/template" id="tpl-detail-question">
    <div class="alert alert-info"><%= note %></div>
    <h3 id="detail-question-desc-<%= id %>"><%= desc %></h3>
</script>

<script type="text/template" id="tpl-detail-question-choice">
    <div id="i-detail-optionsRadios-<%= id %>" style="width:14px" class="pull-left"></div>
    <div style="padding-left:15px">
        <label class="radio">
            <input type="radio" name="optionsRadios" id="detail-optionsRadios-<%= id %>" value="option-<%= id %>"  class="option-question-<%= questionId %>" checked="true">
            <%= title %>
        </label>
    </div>
</script>


<script type="text/template" id="tpl-detail-question-comment-input">
    <textarea class='input-xlarge'  placeholder='Type something...' id='question-comment-input-<%= id %>'></textarea>
    <button class="btn">Save</button>
</script>

<script type="text/template" id="tpl-detail-question-comment-item">
    <div class="alert alert-success">
        <i class="icon-user"></i><%= context %>
        <% if(nodeId) {%><span id='link-replyTo-<%= nodeId %>'><a href='#<%= nodeId %>'>reply<i class='icon-share-alt'></i></a></span><%}%>
    </div>

</script>