@(id: Long, questionForm: Form[Question])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("edit") {

<h1>Edit question</h1>

@form(routes.Questions.update(id),('class,"form-horizontal")) {

<fieldset>
   @select(
        questionForm("node"),
        Node.options,
        '_label -> "Node", '_default -> "-- Choose a Node --",
        '_showConstraints -> false
    )

    @inputText(questionForm("note"), '_label -> "note")

       @select(
        questionForm("theme"),
        Theme.options,
        '_label -> "Theme", '_default -> "-- Choose a Theme --",
        '_showConstraints -> false
    )
              
    	@inputText(questionForm("description"), '_label -> "question description")
</fieldset>

<div class="actions">
    <input type="submit" value="Save this question" class="btn btn-primary"> or
    <a href="@routes.Questions.list()" class="btn">Cancel</a>
</div>

}

@form(routes.Questions.delete(id), 'class -> "topRight") {
<input type="submit" value="Delete this question" class="btn btn-danger">
}

}
