<script type="text/template" id="tpl-question-item">
    <h3><a href='#q/<%= id %>'><%= desc %></a></h3>
</script>

<script type="text/template" id="tpl-question-choice">
    <td id="i-optionsRadios-<%= id %>" style="width:14px" <% if(answerChoiceId && correct){ %> class="icon-ok" <%}%>></td>
    <td>
        <label class="radio">
            <input type="radio" name="optionsRadios-<%= questionId %>" id="optionsRadios-<%= id %>" value="option-<%= id %>" class="option-question-<%= questionId %>"   <% if(answerChoiceId){ %> disabled <%}%> <% if(answerChoiceId == id){ %> checked <%}%>>
            <%= title %>
        </label>
    </td>
</script>