@(q: QuestionDetail,answerForm: Form[AnswerDetail])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(q.title) {


    @form(routes.Answers.save(),('class,"well form-horizontal")) {

    <fieldset>
        <legend>@q.title</legend>
        @twitterBootstrapInputRadioGroup(
            answerForm("choice"),
            options = Choice.options,
            '_label -> "",
            '_showConstraints -> false,
            '_error -> answerForm("choice").error.map(_.withMessage("select choice"))
        )

        @inputText(answerForm("title"), '_label -> "why choose")
    </fieldset>
    }

}