@(themeForm: Form[Theme])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("create") {

<h1>Add a theme</h1>

@form(routes.Themes.save(),('class,"form-horizontal")) {

<fieldset>
    @inputText(themeForm("name"), '_label -> "theme name")
</fieldset>

<div class="actions">
    <input type="submit" value="Create this theme" class="btn btn-primary"> or
    <a href="@routes.Themes.list()" class="btn">Cancel</a>
</div>

}

}
    