@(nodeForm: Form[Node])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("create") {

<h1>Add a node</h1>

@form(routes.Nodes.save(),('class,"form-horizontal")) {

<fieldset>
    @inputText(nodeForm("title"), '_label -> "node title")
</fieldset>

<div class="actions">
    <input type="submit" value="Create this node" class="btn btn-primary"> or
    <a href="@routes.Nodes.list()" class="btn">Cancel</a>
</div>

}

}
    