@(testakerForm: Form[Testaker])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("create") {

<h1>Add a testaker</h1>

@form(routes.Testakers.save(),('class,"form-horizontal")) {

<fieldset>
    @inputText(testakerForm("name"), '_label -> "testaker name")
</fieldset>

<div class="actions">
    <input type="submit" value="Create this testaker" class="btn btn-primary"> or
    <a href="@routes.Testakers.list()" class="btn">Cancel</a>
</div>

}

}
    