@(id: Long, qtagForm: Form[Qtag])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("edit") {

<h1>Edit qtag</h1>

@form(routes.Qtags.update(id),('class,"form-horizontal")) {

<fieldset>
               @select(
                    qtagForm("question"), 
                    Question.options, 
                    '_label -> "Question", '_default -> "-- Choose a Question --",
                    '_showConstraints -> false
                )
              
    	           @select(
                    qtagForm("tag"), 
                    Tag.options, 
                    '_label -> "Tag", '_default -> "-- Choose a Tag --",
                    '_showConstraints -> false
                )
              
</fieldset>

<div class="actions">
    <input type="submit" value="Save this qtag" class="btn btn-primary"> or
    <a href="@routes.Qtags.list()" class="btn">Cancel</a>
</div>

}

@form(routes.Qtags.delete(id), 'class -> "topRight") {
<input type="submit" value="Delete this qtag" class="btn btn-danger">
}

}
