@(tagForm: Form[Tag])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("create") {

<h1>Add a tag</h1>

@form(routes.Tags.save(),('class,"form-horizontal")) {

<fieldset>
    @inputText(tagForm("name"), '_label -> "tag name")
    	           @select(
                    tagForm("theme"), 
                    Theme.options, 
                    '_label -> "Theme", '_default -> "-- Choose a Theme --",
                    '_showConstraints -> false
                )
              
</fieldset>

<div class="actions">
    <input type="submit" value="Create this tag" class="btn btn-primary"> or
    <a href="@routes.Tags.list()" class="btn">Cancel</a>
</div>

}

}
    