@(currentPage: Page[(Tag,Theme)], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@import helper._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Tags.list(newPage, newOrderBy.map { orderBy =>
    if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
<th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
<a href="@link(0, Some(orderBy))">@title</a>
</th>
}

@main("Tag List") {

    <h1>@Messages("tag.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
    <div class="alert-message warning">
        <strong>Done!</strong> @message
    </div>
    }

    <div id="actions">

        @helper.form(action=routes.Tags.list(),('class,"form-search")) {
        <i class="icon-search"></i>
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter tag...">
        <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary">
        }

        <a class="btn btn-success" id="add" href="@routes.Tags.create()"><i class="icon-plus  icon-white"></i>Add a new Tag</a>

    </div>

    @Option(currentPage.items).filterNot(_.isEmpty).map { tags =>
    <table class="table table-striped">
        <thead>
        <tr>
            @header(1,"Name")
            		@header(2,"Theme")
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @tags.map {   case (tag,theme) =>
        <tr>
            <td><a href="@routes.Tags.edit(tag.id.get)">@tag.name</a></td>
            		<td><a href="@routes.Themes.edit(theme.id.get)">@theme.toString</a></td>
            <td>@form(routes.Tags.delete(tag.id.get)){
                <input type="submit" value="Delete">
                }
            </td>
        </tr>
        }
        </tbody>
    </table>

    <div id="pagination" class="pagination">
        <ul>
            @currentPage.prev.map { page =>
            <li class="prev">
                <a href="@link(page)">&larr; Previous</a>
            </li>
            }.getOrElse {
            <li class="prev disabled">
                <a>&larr; Previous</a>
            </li>
            }
            <li class="current">
                <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + tags.size) of @currentPage.total</a>
            </li>
            @currentPage.next.map { page =>
            <li class="next">
                <a href="@link(page)">Next &rarr;</a>
            </li>
            }.getOrElse {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
            }
        </ul>
    </div>

    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }
}

