@(id: Long, commentForm: Form[Comment])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("edit") {

<h1>Edit comment</h1>

@form(routes.Comments.update(id),('class,"form-horizontal")) {

<fieldset>
               @select(
                    commentForm("node"), 
                    Node.options, 
                    '_label -> "Node", '_default -> "-- Choose a Node --",
                    '_showConstraints -> false
                )
              
    	           @select(
                    commentForm("replyTo"), 
                    Node.options, 
                    '_label -> "Node", '_default -> "-- Choose a Node --",
                    '_showConstraints -> false
                )
              
</fieldset>

<div class="actions">
    <input type="submit" value="Save this comment" class="btn btn-primary"> or
    <a href="@routes.Comments.list()" class="btn">Cancel</a>
</div>

}

@form(routes.Comments.delete(id), 'class -> "topRight") {
<input type="submit" value="Delete this comment" class="btn btn-danger">
}

}
