@(examForm: Form[Exam])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("create") {

<h1>Add a exam</h1>

@form(routes.Exams.save(),('class,"form-horizontal")) {

<fieldset>
    @inputText(examForm("name"), '_label -> "exam name")
    	           @select(
                    examForm("testaker"), 
                    Testaker.options, 
                    '_label -> "Testaker", '_default -> "-- Choose a Testaker --",
                    '_showConstraints -> false
                )
              
</fieldset>

<div class="actions">
    <input type="submit" value="Create this exam" class="btn btn-primary"> or
    <a href="@routes.Exams.list()" class="btn">Cancel</a>
</div>

}

}
    