@(answerForm: Form[Answer])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("create") {

<h1>Add a answer</h1>

@form(routes.Answers.save(),('class,"form-horizontal")) {

<fieldset>
               @select(
                    answerForm("node"), 
                    Node.options, 
                    '_label -> "Node", '_default -> "-- Choose a Node --",
                    '_showConstraints -> false
                )
              
    	           @select(
                    answerForm("question"), 
                    Question.options, 
                    '_label -> "Question", '_default -> "-- Choose a Question --",
                    '_showConstraints -> false
                )
              
    	           @select(
                    answerForm("choice"), 
                    Choice.options, 
                    '_label -> "Choice", '_default -> "-- Choose a Choice --",
                    '_showConstraints -> false
                )
              
    	           @select(
                    answerForm("testaker"), 
                    Testaker.options, 
                    '_label -> "Testaker", '_default -> "-- Choose a Testaker --",
                    '_showConstraints -> false
                )
              
</fieldset>

<div class="actions">
    <input type="submit" value="Create this answer" class="btn btn-primary"> or
    <a href="@routes.Answers.list()" class="btn">Cancel</a>
</div>

}

}
    