@(currentPage: Page[(Answer,Node,Question,Choice,Testaker)], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@import helper._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Answers.list(newPage, newOrderBy.map { orderBy =>
    if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
<th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
<a href="@link(0, Some(orderBy))">@title</a>
</th>
}

@main("Answer List") {

    <h1>@Messages("answer.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
    <div class="alert-message warning">
        <strong>Done!</strong> @message
    </div>
    }

    <div id="actions">

        @helper.form(action=routes.Answers.list(),('class,"form-search")) {
        <i class="icon-search"></i>
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter answer...">
        <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary">
        }

        <a class="btn btn-success" id="add" href="@routes.Answers.create()"><i class="icon-plus  icon-white"></i>Add a new Answer</a>

    </div>

    @Option(currentPage.items).filterNot(_.isEmpty).map { answers =>
    <table class="table table-striped">
        <thead>
        <tr>
            @header(1,"Node")
            		@header(2,"Question")
            		@header(3,"Choice")
            		@header(4,"Testaker")
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @answers.map {   case (answer,node,question,choice,testaker) =>
        <tr>
            <td><a href="@routes.Nodes.edit(node.id.get)">@node.toString</a></td>
            		<td><a href="@routes.Questions.edit(question.id.get)">@question.toString</a></td>
            		<td><a href="@routes.Choices.edit(choice.id.get)">@choice.toString</a></td>
            		<td><a href="@routes.Testakers.edit(testaker.id.get)">@testaker.toString</a></td>
            <td>@form(routes.Answers.delete(answer.id.get)){
                <input type="submit" value="Delete">
                }
            </td>
        </tr>
        }
        </tbody>
    </table>

    <div id="pagination" class="pagination">
        <ul>
            @currentPage.prev.map { page =>
            <li class="prev">
                <a href="@link(page)">&larr; Previous</a>
            </li>
            }.getOrElse {
            <li class="prev disabled">
                <a>&larr; Previous</a>
            </li>
            }
            <li class="current">
                <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + answers.size) of @currentPage.total</a>
            </li>
            @currentPage.next.map { page =>
            <li class="next">
                <a href="@link(page)">Next &rarr;</a>
            </li>
            }.getOrElse {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
            }
        </ul>
    </div>

    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }
}

